.contacto__container,
.preguntas__container {
  
  /*-- animacion ---*/
  animation: from-right 2s ease;
}

main {
  
  .contacto__container{
    width:100%;
      
    
    .form{
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      margin-top: 3rem;

      .contacto__title{
        font-size: 2rem;
        color: map-get($text-color, text-3);
      }
      .contacto__formulario{
        display: flex;
        flex-direction: column;
        .contacto__formulario--label{
          text-align: left;
          margin-top: 1rem;
        }
        .contacto__btn{
          
          width: 30%;
          margin-top: 1rem;
          @include boton-2( .5rem, 1rem, 600, 10%);
        }
      }
    }
    .preguntas__container{
      margin-top: 3rem;
      padding: 0rem 0.5rem 0rem .5rem;
      
      .preguntas__title{
        color: map-get($text-color, text-3);
        text-align: center;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        
      }
      .pregunta{
        font-weight: 600;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      .respuesta{
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
      }
    }
  }

}

