* {
    /*outline: 1px solid green;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    color:white;
    background: rgb(194, 224, 149);
    margin: 0;
    background-image: linear-gradient(rgba(20, 53, 134, 0.50),rgba(20, 53, 134, 0.50)), url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center 20%;
    background-position-x: center;
    background-position-y: 20%;
    background-size: cover;
    padding: 5%;
    display: grid;
        
    }