@media (min-width: 768px) {
  header {
    .container {
      @include flexDirectionJustify(row, space-between);
      &__logo {
        width: 100%;
        text-align: left;
        padding-left: 0.2rem;
        &--img {
          width: 90%;
        }
      }
      .nav {
        &__list {
          &--items {
            padding: 0 0.8rem;
            margin: 0 0.5rem;
            &-li {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  main {
    .profesiones__container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      .profesiones__card {
        
      }
    }

    .contacto__container {
      display: flex;
      flex-direction: row;
      width: 100%;

      .form {
        margin-right: 1rem;

        .contacto__title {
          font-size: 1.5rem;
        }

        .contacto__formulario {
          .contacto__formulario--label {
            font-size: 1.5rem;
          }
        }

        .contacto__btn {
          align-self: center;
          margin-top: 1.5rem;
          @include boton-2(0.5rem, 1rem, 600, 10%);
        }
      }
    }

    .preguntas__container {
      width: 100%;
    }
  }

  footer {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

/*-------------1024----------------*/

@media (min-width: 1024px) {
  header {
    padding: 1%;
    .container {
      &__logo {
        &--img {
          width: 80%;
        }
      }
      .nav {
        &__list {
          &--items {
            padding: 0.5rem 1rem;

            &-li {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
  main {
    .info__container {
      flex-direction: row;
      .info__description {
        width: 100%;
      }
      .info__registro {
        margin-left: 2rem;
        width: 70%;
      }
    }

    .especie__container {
      .especie__title {
        font-size: 3rem;
      }
      .especie__subtitle {
        font-size: 2.5rem;
      }
    }

    .somos__container {
      display: flex;
      flex-direction: row;

      .somos__subcontainer {
        .somos__title {
          margin-right: 1rem;
          font-size: 3rem;
          width: 100%;
          height: 70%;
        }

        .somos__parrafo1 {
          width: 100%;
          font-size: 1.5rem;
        }
      }

      .somos__img {
        background: yellow;
        margin: 3rem 1rem 0rem 1rem;
        img {
          max-width: 550px;
          min-width: 550px;
          max-height: 450px;
          min-height: 450px;
        }
      }
    }

    .somos__parrafo2 {
      font-size: 1.5rem;
      margin: 2rem auto;
      p {
        margin: 2rem auto;
      }
    }

    .serParte__container {
      .serParte__title {
        font-size: 2rem;
        color: map-get($text-color, text-3);
      }

      .serParte__parrafo {
        font-size: 1.5rem;
      }

      .serParte_btn {
        font-size: 1.5rem;
      }
    }

    .profesiones__titulo {
      margin-bottom: 3rem;
    }

    .profesiones__container {
      
      .profesiones__card {
        max-width: 30%;
        flex: 1 1 33%;
        
        .profesiones__img{
          max-width: 250px;
          max-height: 250px;
          min-width: 250px;
          min-height: 250px;
        }
      }
    }

    .contacto__container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .form {
        width: 100%;
        margin: 2%;
        .contacto__title {
          font-size: 2rem;
        }

        .contacto__formulario {
          display: flex;

          .contacto__formulario--input {
            width: 100%;
          }

          .contacto__formulario--label {
            font-size: 1.5rem;
          }

          .contacto__btn {
            align-self: center;
            margin-top: 1.5rem;
            @include boton-2(0.5rem, 1rem, 600, 10%);
          }
        }
      }

      .preguntas__container {
        width: 100%;
        margin: 2%;

        .preguntas__title {
          padding-left: 0%;
          font-size: 2rem;
        }
      }
    }

    .funciona__container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 5%;
      width: 100%;

      .funciona__procedi {
        .funciona__title {
          font-size: 3rem;
        }
      }
    }

    .testi__container {
      .testi__title {
        font-size: 2.5rem;
        text-align: center;
      }

      .testi__tablero {
        display: flex;
        align-items: center;

        .testi__card {
          margin: 1%;
        }
      }
    }
  }

  footer {
    .footer__container {
      &--redes {
        padding-left: 2rem;
      }
    }
  }
}

/*-------------1200----------------*/

@media (min-width: 1200px) {
  header {
    .container {
      &__logo {
        width: 20%;
        &--img {
          width: 40%;
        }
      }
      .nav {
        &__list {
          &--items {
            margin: 0 1.5rem;
            &-li {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

main {
  .profesiones__titulo {
    margin-bottom: 3rem;
  }

  .profesiones__container {
      
    .profesiones__card {
      
      flex: 1 1 5%;

      .profesiones__img {
          max-width: 200px;
          max-height: 200px;
          min-width: 200px;
          min-height: 200px;
        }
                
    }

  
}

}
