$backg-color:rgb(32, 218, 137);

$text-color:(
    text-1: black,
    text-2: white,
    text-3: rgb(255, 255, 0),
    text-4: rgb(0, 110, 255),
    text-5:rgb(144, 221, 56),
);

$hover-1: rgb(246, 255, 0)